.todoWrapper {
    border-bottom: 1px solid #efefef;
    text-align: left;
    margin-bottom: 10px;
  }
  .removeTodo {
    margin-right: 20px;
    margin-bottom: 10px;
    border-width: 2px;
    border-radius: 3px;
    border-style: solid;
    padding: 8px;
    color: rgba(241, 13, 13, 0.877);
    border-color: rgba(241, 13, 13, 0.877);
    
  }
  .completeTodo{
    margin-left: 200px;
    margin-bottom: 10px;
    border-width: 2px;
    border-radius: 3px;
    border-style: solid;
    padding: 8px;
    color: rgba(13, 241, 62, 0.877);
    border-color: rgba(13, 241, 62, 0.877);
  }